.statblock.dnd-35e-layout {
  --statblock-image-width: 180px;
  --statblock-image-height: 230px;
  --statblock-image-border-size: 2px;
  --statblock-image-center;
}
.statblock.dnd-35e-layout img {
      width: 100%;
      height: 100%;
      border: var(--statblock-image-border-size) solid var(--statblock-image-border-color);
      border-radius: 100%;
      object-fit: cover;
      object-position: center;
}